@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: lato;
}


/* ---------Intended to toggle full page scroll-------------- */

/* .main{
    height: 100vh;
    overflow: scroll;
}

.main.show{
    overflow: scroll;
} */


button{
    cursor: pointer;
    outline: 0;
}

button:focus{
    outline: 0;
}

#buttons-div{
    position: relative;
}

#prev-button{
    position: fixed;
    right: 2rem;
    bottom: 8rem;
    padding: .5rem;
    background-image: linear-gradient(45deg, #555, #eb336b);
    border: 1px solid white;
    border-radius: 10px;
}

#next-button{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    padding: .5rem 1.1rem;
    background-image: linear-gradient(45deg, #555, #eb336b);
    border: 1px solid white;
    border-radius: 10px;
}

#smooth-button{
    position: fixed;
    right: 2rem;
    bottom: 5rem;
    padding: .5rem 1.1rem;
    background-image: linear-gradient(45deg, #555, #eb336b);
    border: 1px solid white;
    border-radius: 10px;
}

#section-button{
    display: none;
    position: fixed;
    right: 2rem;
    bottom: 5rem;
    padding: .5rem 1.1rem;
    background-image: linear-gradient(45deg, #555, #eb336b);
    border: 1px solid white;
    border-radius: 10px;
}

section{
    opacity: 1;
    transform: translateY(0px);
    transition: all .5s .5s;
}

section.show{
    opacity: 1;
    transform: translateY(0px);
}

.section-a{
    height: 100vh;
    width: 100%;
    font-family: lato;
    color: #fff;
}

header{
    animation: myanim 10s infinite alternate;
    height: 85vh;
    /* margin-bottom: 7rem; */
    display: flex;
    flex-direction: column;
    opacity: .8;
    background-image: url('tech\ 7.jpg');
}

@keyframes myanim{
    0%{background-position: right;}
    100%{background-position: left;}
}

nav{
    /* position: fixed;
    top: 0rem;
    right: 0rem;
    left: 0rem; */
    display: flex;
    height: 5rem;
    transition: .7s;
    justify-content: space-between;
    align-items: center;
}

#hambugger{
    background-color: transparent;
    width: 20px;
    height: 20px;
    display: none;
}

#hambugger:hover{
    transform: rotate(90deg);
}

#hambugger-1{
    width: 100%;
    height: 20%;
    background-color: #eb336b;
}

#hambugger-1.cross{
    transform: rotate(45deg);
    margin-top: .5rem;
}

#hambugger-2{
    width: 100%;
    height: 20%;
    background-color: #eb336b;
}

#hambugger-3{
    width: 100%;
    height: 20%;
    background-color: #eb336b;
}

#hambugger-3.crosser{
    transform: rotate(-45deg);
    margin-bottom: .5rem;
}

ul{
    display: flex;
}

li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
}

nav:hover{
    background-color: #0009;
    color: white;
}

.logo{
    font-family: Great Vibes;
    font-size: 3rem;
    margin-left: 3rem;
    color: #eb336b;
}

.menu-1{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    float: right;
    padding: 1.9rem;
    margin: 0 4rem 0 0;
    transition: .7s;
}

.menu-2{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    float: right;
    padding: 1.9rem;
    margin: 0 4rem 0 0;
    transition: .7s;
}

.menu-1:hover{
    color: #eb336b;
}

.menu-2:hover{
    color: #eb336b;
}

.header-sub-div{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.header-sub-div-sub-div{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 20%;
    height: auto;
}

#title-text{
    font-size: 3rem;
    line-height: 2.5rem;
}

#page{
    position: absolute;
    top: 120%;
    left: 66%;
    font-weight: lighter;
    font-family: Great Vibes;
    font-size: 2rem;
    color: #eb336b;
}

@keyframes buttonAnimation{
    0%{background-color: #fff}
    0%{background-color: #3b4a42}
}

#header-button:focus{
  outline: 0;
}

#avatar{
    width: 20rem;
    height: 20rem;
    border: 1.5px solid #fff;
    border-radius: 5px;
    margin-top: 3rem;
    margin-left: 4rem;
}

.header-p{
    display: flex;
    font: .4rem;
    color: white;
    font-family: lato;
}

.header-p-1{
    padding: 15rem 2rem 0rem 15rem;
    color: #eb336b;
}

.header-p-2{
    padding: 15rem 10rem 0rem 2rem;
}


/*------------------------------------TECHNOLOGIES-------------------------*/

.technologies{
    margin-top: 7rem;
    text-align: center;
}


#technologies{
    font-weight: bolder;
    text-decoration: underline;
}

/*------------HTML-----------*/

.html{
    color: #555;
    width: 90%;
    padding-top: 8rem;
    height: 70vh;
    text-align: left;
}

.html-main{
    display: flex;
}

#html-p{
    padding: 0% 10% 0% 5%;
}

#html-img{
    width: 20rem;
    height: auto;
    margin-right: 5%;
    transform: translate(100);
}

#html-p-h{
    color: #eb336b;
    padding: 2rem 0rem;
}

/*------------CSS-----------*/

.css{
    color: #555;
    width: 90%;
    padding-top: 15rem;
    height: 70vh;
    text-align: left;
}

.css-main{
    display: flex;
}

#css-p{
    padding: 0% 10% 0% 5%;
}

#css-img{
    width: 20rem;
    height: auto;
    margin-right: 5%;
}



#css-p-h{
    color: #eb336b;
    padding: 2rem 0rem;
}

/*------------JAVASCRIPT-----------*/

.javascript{
    color: #555;
    width: 90%;
    height: 70vh;
    padding-top: 15rem;
    text-align: left;
}

.javascript-main{
    display: flex;
}

#javascript-p{
    padding: 0% 10% 0% 5%;
}

#javascript-img{
    width: 20rem;
    height: auto;
    margin-right: 5%;
}

#javascript-p-h{
    color: #eb336b;
    padding: 2rem 0rem;
}

/*------------REACT JS-----------*/

.react{
    color: #555;
    width: 90%;
    padding-top: 15rem;
    height: 70vh;
    text-align: left;
}

.react-main{
    display: flex;
}

#react-p{
    padding: 0% 10% 0% 5%;
}

#react-img{
    width: 20rem;
    height: 20rem;
    animation: reactanimate 5s linear infinite;
}

@keyframes reactanimate{
    0%{
        transform: rotate(0deg);
    }
    0%{
        transform: rotate(360deg);
    }
}

#react-p-h{
    color: #eb336b;
    padding: 2rem 0rem;
}

/*------------VUE JS-----------*/

.vue{
    color: #555;
    width: 90%;
    padding-top: 15rem;
    height: 70vh;
    padding-bottom: 8rem;
    text-align: left;
}

.vue-main{
    display: flex;
}

#vue-p{
    padding: 0% 10% 0% 5%;
}

#vue-img{
    width: 20rem;
    height: auto;
    margin-right: 5%;
}

#vue-p-h{
    color: #eb336b;
    padding: 2rem 0rem;
}





.write-up{
    text-align: center;
    height: 50vh;
    padding-top: 8rem;
}



/*----------Footer------*/


.footer{
  margin-top: 6rem;
  width: 100%;
  height: 18rem;
  background-color: #08101b;
  font-family: lato;
}

.footer-container{
    display: flex;
    width: 100%;
    height: 25rem;
}

.first-footer{
    background-color: #08101b;
    width: 50%;
    color: #fff;
}

.second-footer{
    background-color: #eb336b;
    width: 50%;
    height: 25rem;
}


a{
    text-decoration: none;
    color: #fff;
}


#bottom{
  display: flex;
  flex-direction: column;
  padding: 3rem 0rem 0rem 5rem;

}

.footer-parag{
    display: flex;

}

.footer-p-1{
    padding: 5rem 2rem 0rem 2rem;
}

.footer-p-2{
    padding: 5rem 2rem 0rem 2rem;
}

.social-sub{
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.social-sub-facebook{
    background-color: #555;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#facebook{
  width: 20px;
  height: 20px;
  filter: grayscale(1);
  margin: 4px;
}

#twitter{
  width: 20px;
  height: 20px;
  filter: grayscale(1);
  margin: 4px;
}

#instagram{
  width: 20px;
  height: 20px;
  filter: grayscale(1);
  margin: 4px;
}

.social{
  display: flex;
  justify-content: space-around;
  padding-right: 30%;
  padding: 9rem 5rem 0rem 5rem;
}

#copyright{
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 3rem 0rem 0rem 0rem; 
}

/*------------Go Top------------------*/

.top-div{
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    display: inline-block;
    background-color: #555;
    width: 7%;
    height: 2.2rem;
    font-size: 1.2rem;
    border-radius: 4%;
    border: none;
    padding: .5rem .7rem 1rem .7rem;
    text-align: center;
    color: white;
    text-align: center;
    opacity: 0;
    transition: .7s;
}

.top-div:hover{
    cursor: pointer;
    padding-right: 1rem;
}

.top-div:focus{
    outline: none;
}









































@media (max-width: 900px){
    .header-sub-div{
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        margin-top: 3rem;
    }
    
    .header-sub-div-sub-div{
        position: absolute;
        top: 0rem;
        left: 50%;
        width: 20%;
        height: auto;
    }
    
    #title-text{
        font-size: 3rem;
        line-height: 2.5rem;
    }
    
    #page{
        position: absolute;
        bottom: 50%;
        left: 100%;
        font-weight: lighter;
        font-family: Great Vibes;
        font-size: 2rem;
        color: #eb336b;
    }
    
    #header-button{
        display: block;
        border: 2px dotted pink;
        background-color: #fff;
        color: #3b4a42;
        padding: .6rem 2rem;
        border-radius: 50px;
        margin-top: 7rem;
    }
    
    #header-button:hover{
        animation: buttonAnimation 2s;
        cursor: pointer;
        background-color: #eb336b;
        border: 2px solid pink;
        color: #fff;
    }
    
    @keyframes buttonAnimation{
        0%{background-color: #fff}
        0%{background-color: #3b4a42}
    }
    
    #header-button:focus{
      outline: 0;
    }
    
    #avatar{
        width: 15rem;
        height: 15rem;
        border: 1.5px solid #fff;
        border-radius: 5px;
        margin-top: 3rem;
        margin-left: 4rem;
    }
    
    .header-p{
        display: flex;
        font: .4rem;
        color: white;
        font-family: lato;
    }
    
    .header-p-1{
        padding: 13rem 2rem 0rem 3rem;
        color: #eb336b;
    }
    
    .header-p-2{
        padding: 13rem 3rem 0rem 2rem;
        color: #eb336b;
    }
    /*------------------------------------TECHNOLOGIES-------------------------*/

.technologies{
    margin-top: 7rem;
    text-align: center;
}


#technologies{
    text-align: center;
    font-weight: bolder;
    color: #555;
}

/*------------HTML-----------*/

.html{
    color: #555;
    width: 90%;
    height: 70vh;
    padding-top: 8rem;
    text-align: left;
}

.html-main{
    display: flex;
}

#html-p{
    padding: 0% 10% 0% 5%;
}

#html-img{
    width: 20rem;
    height: 20rem;
    margin-right: 5%;
}

#html-p-h{
    color: #eb336b;
    padding: 2rem 0rem;
}

/*------------CSS-----------*/

.css{
    color: #555;
    width: 90%;
    height: 70vh;
    padding-top: 15rem;
    text-align: left;
}

.css-main{
    display: flex;
}

#css-p{
    padding: 0% 10% 0% 5%;
}

#css-img{
    width: 20rem;
    height: 20rem;
    margin-right: 5%;
}

#css-p-h{
    color: #eb336b;
    padding: 2rem 0rem;
}

/*------------JAVASCRIPT-----------*/

.javascript{
    color: #555;
    width: 90%;
    height: 70vh;
    padding-top: 15rem;
    text-align: left;
}

.javascript-main{
    display: flex;
}

#javascript-p{
    padding: 0% 10% 0% 5%;
}

#javascript-img{
    width: 20rem;
    height: 20rem;
    margin-right: 5%;
}

#javascript-p-h{
    color: #eb336b;
    padding: 2rem 0rem;
}

/*------------REACT JS-----------*/

.react{
    color: #555;
    width: 90%;
    height: 70vh;
    padding-top: 15rem;
    text-align: left;
}

.react-main{
    display: flex;
}

#react-p{
    padding: 0% 10% 0% 5%;
}

#react-img{
    width: 20rem;
    height: 20rem;
    margin-right: 5%;
}

#react-p-h{
    color: #eb336b;
    padding: 2rem 0rem;
}

/*------------VUE JS-----------*/

.vue{
    color: #555;
    width: 90%;
    padding-top: 15rem;
    height: 70vh;
    padding-bottom: 8rem;
    text-align: left;
}

.vue-main{
    display: flex;
}

#vue-p{
    padding: 0% 10% 0% 5%;
}

#vue-img{
    width: 20rem;
    height: 20rem;
    margin-right: 5%;
}

#vue-p-h{
    color: #eb336b;
    padding: 2rem 0rem;
}


/*---------Footer---------------*/

.footer{
    height: 100vh;
}
  
  .footer-container{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 18rem;
  }
  
  .first-footer{
      background-color: #08101b;
      width: 100%;
      color: #fff;
  }
  
  .second-footer{
      background-color: #eb336b;
      width: 100%;
      height: 18rem;
  }
  
  
  a{
      text-decoration: none;
      color: #fff;
  }
  
  
  #bottom{
    display: flex;
    flex-direction: column;
    padding: 3rem 0rem 0rem 5rem;
  
  }
  
  .footer-parag{
      display: flex;
    padding-right: 4rem;
  }
  
  .footer-p-1{
      padding: 3rem 2rem 2rem 0rem;
  }
  
  .footer-p-2{
      padding: 3rem 2rem 2rem 0rem;
  }
  
  .social-sub{
      background-color: #fff;
      width: 30px;
      height: 30px;
      border-radius: 50%;
  }
  
  .social-sub-facebook{
      background-color: #555;
      width: 30px;
      height: 30px;
      border-radius: 50%;
  }
  
  #facebook{
    width: 20px;
    height: 20px;
    filter: grayscale(1);
    margin: 4px;
  }
  
  #twitter{
    width: 20px;
    height: 20px;
    filter: grayscale(1);
    margin: 4px;
  }
  
  #instagram{
    width: 20px;
    height: 20px;
    filter: grayscale(1);
    margin: 4px;
  }
  
  .social{
    display: flex;
    justify-content: space-around;
    padding-right: 30%;
    padding: 5rem 5rem 0rem 5rem;
  }
  
  #copyright{
      display: flex;
      flex-direction: column;
      color: #fff;
      align-items: center;
      justify-content: center;
      padding: 2rem 0rem 3rem 0rem; 
  }

    /*--------------Go Top--------------*/



    
}







































@media (max-width: 610px){

    header{
        width: 100vw;
        height: 85vh;
    }

    .header-sub-div{
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        margin-top: 3rem;
    }

    .header-sub-div-sub-div{
        position: absolute;
        top: 0rem;
        left: 0rem;
        width: 100%;
        height: auto;
    }

    #hambugger{
        position: absolute;
        top: 1.7rem;
        right: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transition: all 0.5s ease;
        /* margin: 1rem 3rem 0rem 0rem; */
        z-index: 100;
    }

    #title-text{
        position: unset;
        font-size: 3rem;
        line-height: 2.5rem;
        padding-left: 15%;
    }

    #page{
        position: unset;
        margin-left: 65%;
       
    }

    .header-p{
        position: absolute;
        top: 0%;
        left: 0%;
    }

    .header-p-1{
        padding: 42rem 1rem 0rem 1rem;
        color: #eb336b;
    }
    
    .header-p-2{
        padding: 42rem 1rem 0rem 1rem;
        color: #eb336b;
    }
    
    
  #avatar{
    width: 15rem;
    height: 15rem;
    margin: 15rem 0rem 0rem 5rem;

  }

  nav{
    height: 5rem;
  }

  .logo{
    font-size: 1.8rem;
    margin-left: 2rem;
  }

  .menu-1{
    margin: 1rem;
    color: #eb336b;
    margin-top: 5rem;
    padding: 1rem;
  }

  .menu-1:hover{
      text-decoration: underline;
  }

  .menu-2:hover{
    text-decoration: underline;
}

  .menu-2{
    margin: 1rem;
    padding: 1rem;
    color: #eb336b;
  }

  #nav-ul{
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      opacity: 1;
      width: 50vw;
      height: 100vh;
      z-index: 1;
      display: none;
      animation: navAnimation .3s linear;
  }

  @keyframes navAnimation{
      0%{transform: translate(200px)}
      100%{transform: translate(0px)}
  }


  #nav-ul.show{
      display: flex;
  }

  #header-button{
    padding: .3rem 1rem;
    font-size: .7rem;
}


/*------------------------------------TECHNOLOGIES-------------------------*/

.technologies{
    margin-top: 7rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#technologies{
    text-align: center;
    font-weight: bolder;
    color: #555;
}

/*------------HTML-----------*/

.html{
    color: #555;
    width: 100%;
    height: 70vh;
    /* padding-top: 5rem; */
    text-align: left;
}

.html-main{
    display: flex;
    flex-direction: column;
}

#html-p{
    padding: 0% 10% 0% 5%;
}

#html-img{
    width: 15rem;
    height: auto;
    padding: 2rem 0rem 0rem 3rem;
}

#html-p-h{
    color: #eb336b;
    padding: 2rem 0rem;
}

/*------------CSS-----------*/

.css{
    color: #555;
    width: 100%;
    height: 70vh;
    /* padding-top: 10rem; */
    text-align: left;
}

.css-main{
    display: flex;
    flex-direction: column;
}

#css-p{
    padding: 0% 10% 0% 5%;
}

#css-img{
    width: 20rem;
    height: auto;
    margin-right: 5%;
    padding: 2rem 0rem 0rem 3rem;
}

#css-p-h{
    color: #eb336b;
    padding: 2rem 0rem;
}

/*------------JAVASCRIPT-----------*/

.javascript{
    color: #555;
    width: 100%;
    height: 70vh;
    /* padding-top: 10rem; */
    text-align: left;
}

.javascript-main{
    display: flex;
    flex-direction: column;
}

#javascript-p{
    padding: 0% 10% 0% 5%;
}

#javascript-img{
    width: 20rem;
    height: auto;
    margin-right: 5%;
    padding: 2rem 0rem 0rem 3rem;
}

#javascript-p-h{
    color: #eb336b;
    padding: 2rem 0rem;
}

/*------------REACT JS-----------*/

.react{
    color: #555;
    width: 100%;
    height: 70vh;
    text-align: left;
}

.react-main{
    display: flex;
    flex-direction: column;
}

#react-p{
    padding: 0% 10% 0% 5%;
}

#react-img{
    width: 20rem;
    height: 20rem;
    padding: 0rem 0rem 0rem 0rem;
}

#react-p-h{
    color: #eb336b;
    padding: 2rem 0rem;
}

/*------------VUE JS-----------*/

.vue{
    color: #555;
    width: 100%;
    height: 70vh;
    padding-bottom: 8rem;
    text-align: left;
}

.vue-main{
    display: flex;
    flex-direction: column;
}

#vue-p{
    padding: 0% 10% 0% 5%;
}

#vue-img{
    width: 20rem;
    height: auto;
    padding: 2rem 0rem 8rem 3rem;
}

#vue-p-h{
    color: #eb336b;
    padding: 2rem 0rem;
}


/*---------Footer---------------*/

.footer{
    display: block;
    height: 18rem;
}
  
  .footer-container{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 18rem;
  }
  
  .first-footer{
      background-color: #08101b;
      width: 100%;
      color: #fff;
  }
  
  .second-footer{
      background-color: #eb336b;
      width: 100%;
      height: 18rem;
  }
  
  
  a{
      text-decoration: none;
      color: #fff;
  }
  
  
  #bottom{
    display: flex;
    flex-direction: column;
    padding: 3rem 0rem 0rem 5rem;
  
  }
  
  .footer-parag{
      display: flex;
  
  }
  
  .footer-p-1{
      padding: 3rem 0rem 2rem 0rem;
  }
  
  .footer-p-2{
      padding: 3rem 0rem 2rem 0rem;
  }
  
  .social-sub{
      background-color: #fff;
      width: 30px;
      height: 30px;
      border-radius: 50%;
  }
  
  .social-sub-facebook{
      background-color: #555;
      width: 30px;
      height: 30px;
      border-radius: 50%;
  }
  
  #facebook{
    width: 20px;
    height: 20px;
    filter: grayscale(1);
    margin: 4px;
  }
  
  #twitter{
    width: 20px;
    height: 20px;
    filter: grayscale(1);
    margin: 4px;
  }
  
  #instagram{
    width: 20px;
    height: 20px;
    filter: grayscale(1);
    margin: 4px;
  }
  
  .social{
    display: flex;
    justify-content: space-around;
    padding-right: 30%;
    padding: 5rem 5rem 0rem 5rem;
  }
  
  #copyright{
      display: flex;
      flex-direction: column;
      color: #fff;
      align-items: center;
      justify-content: center;
      padding: 2rem 0rem 3rem 0rem; 
  }

   /*-------------Go Top--------------*/

.top-div{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: inline-block;
    background-color: #555;
    width: 20%;
    height: 2.2rem;
    font-size: 1.2rem;
    border-radius: 4%;
    padding: .5rem 1rem 1rem 1rem;
    text-align: center;
    border: none;
    color: white;
    text-align: center;
    opacity: 0;
}

.top-div:hover{
    cursor: pointer;
    padding-right: 1rem;
}

.top-div:focus{
    outline: none;
}




}